.bgr {
  position: relative;
  width: 100%;
  min-height: 100%;
  color: #dc143c;
  background: url("../img/bg-pattern.png"), #7b4397;
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: url("../img/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
}

#msform {
  width: 95%;
  margin: 30px auto;
  padding: 30px 0 0 0;
  margin-bottom: 0px;
}

.searchContainer {
  background-color: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 20px;
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  margin-top: 50px;
}

.header {
  text-align: left;
  font-size: 30px;
  border-bottom: 1px solid #dc143c;
}

.results {
  margin-top: 10px;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
    color: black;
}

table.filterTable {
  width: 40%;
}

td, th {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #dc143c !important;
}

th {
    background-color: #dc143c; 
    color: white;
    cursor: pointer;
}

.filter {
    max-width: 130px;
}

input::-webkit-input-placeholder {
  color: #dc143c;
  opacity: 0.5;
}