<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">Welcome to this brand new IT Service Desk App! We're here to help you!</h1>
          <a href="/logIssue" class="btn btn-outline btn-xl js-scroll-trigger">Open ticket!</a>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <img src="../../images/phone.jpg" class="img-fluid" alt="">
              </div>
              <div class="button">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>