<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>  
	<link href="css/logIssue.css" rel="stylesheet"> 
</head>
<body id="page-top">
	<% include ../partials/navbar %>   

    <header class="masthead" style="padding: 100px;">
    	<div class="container h-100">
        	<div class="row h-100">
		    	<div id="msform">
				  <fieldset>
				    <h2 class="fs-title">Log an issue</h2>
				    <h3 id="errs" class="fs-subtitle"></h3>
				    <input type="text" id="summary" placeholder="Summary" />
				    <input type="text" id="description" placeholder="Description" />
				    <div class="styled-select slate">
					  <select id="severity">
					    <option disabled selected>Severity</option>
					    <option>Question</option>
					    <option>Incident</option>
					    <option>Problem</option>
					  </select>
					</div>
					<div class="styled-select slate">
					  <select id="priority">
					    <option disabled selected>Priority</option>
					    <option>Low</option>
					    <option>Medium</option>
					    <option>High</option>
					    <option>Urgent</option>
					  </select>
					</div>
					<div class="upload-btn-wrapper">
					    <button id="attach" class="attach">Attach File</button>
	    				<input id="uploadFile" type="file" />
	    			</div>
				    <button name="cancel" class="logissue-submit" onclick="cancel()">Cancel</button>
				    <button name="submit" class="logissue-submit" onclick="submit()">Submit</button>
				  </fieldset>
				</div>
			</div>
		</div>
	</header>

	<div id="successModal" class="modal">

	  <!-- Modal content -->
	  <div class="modal-content">
	    <div class="modal-header">
	      <span class="close">&times;</span>
	      <h2>Successfully logged issue!</h2>
	    </div>
	    <div class="modal-body">
	      <p>The issue has been successfully logged!</p>
	      <p>Our team will take a look at it in no time!</p>
	      <button id="modalOk" class="logissue-submit">OK</button>
	    </div>
	  </div>

	</div>

	<% include ../partials/footer %>

	<% include ../partials/script %>   	

</body>
</html>